
<header>
  <div class="container">
    <a href="/contact"  class="logo eat-healthy-heading"><img src="../../../assets/food.jfif" width="40px;" height="40px;">Eat Healthy</a>
    <nav>
      <ul class="d-flex nav-names">
        <li>
          <a class="nav-items" href="/search">Search</a>
        </li>
        <li>
          <a class="nav-items" href="/offers">Offers</a>
        </li>
        <!-- <li>
          <a  class="nav-items" href="/helpp">Help</a>
        </li> -->
        <li>
          <a class="nav-items" href="/aboutus">About us</a>
        </li>
        <li>
          <a class="nav-items" href="/signin">Signin</a>
        </li>
        <li >
          <a class="nav-items"  href="/feedback">Feedback</a>
        </li>
        <li >
          <a class="nav-items"  href="/cart">Cart</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
