<header>
  <div class="container">
    <a href="/contact" class="logo eat-healthy-heading"
      ><img src="../../../assets/food.jfif" width="40px;" height="40px;" />Eat
      Healthy</a
    >
    <nav>

      <i class="pi pi-align-justify d-sm-block d-md-none" (click)="togglemenu()"></i>
      <ng-container *ngIf="showmenu">
        <div style=" width: 100%;">
          <div class="submenu-items">
            <i class="pi pi-times align-end" (click)="togglemenu()"></i>
<p>jkkj</p>
<p>jgjjk</p>

          </div>

        </div>
      </ng-container>
      <ul class="d-flex nav-names">
        <li>
          <a class="nav-items" href="/search">Search</a>
        </li>
        <li>
          <a class="nav-items" href="/offers">Offers</a>
        </li>
        <!-- <li>
          <a  class="nav-items" href="/helpp">Help</a>
        </li> -->
        <li>
          <a class="nav-items" href="/aboutus">About us</a>
        </li>
        <li>
          <a class="nav-items" href="/signin">Signin</a>
        </li>
        <li>
          <a class="nav-items" href="/feedback">Feedback</a>
        </li>
        <li>
          <a class="nav-items"
            ><button (click)="toggle()" class="btn btn-primary" id="bt">
              {{ buttonName }}
            </button></a
          >
          <ng-container *ngIf="show">
            <div style="margin: 0 auto; text-align: left">
              <div class="cart-items">
                <div class="text-align-center" *ngFor="let group of groups">
                  {{ group.name }}
                </div>
              </div>

            </div>
          </ng-container>
        </li>
        <li>
          <button class="btn btn-outline-primary" (click)="logout()"><a href="/signin">logout</a></button>
        </li>
      </ul>
    </nav>
  </div>
</header>
