<app-header></app-header>
<div class="container my-5">
  <div class="col-md-6 mx-auto bg-form box-shadow">
    <div class="text-center">
      <h1 class="heading-name">Update Password </h1>
    </div>
    <form [formGroup]="forgotpasswordform">

      <br />
      <label> New Password:<span class="error">*</span></label>
      <input
        type="text"
        class="form-control"
        formControlName="newpassword"
        [ngClass]="
        ( isformvalid &&
        forgotpasswordform.get('newpassword').invalid) ||

          ( forgotpasswordform.get('newpassword').touched && forgotpasswordform.get('newpassword').invalid)
            ? 'red-box'
            : ''
        "
      />
      <div
        class="error"
        *ngIf="
          (forgotpasswordform.get('newpassword').touched &&
            forgotpasswordform.get('newpassword').invalid) ||
          (isformvalid &&
            forgotpasswordform.get('newpassword').hasError('required'))
        "
      >
        Enter password
      </div>
      <div
        class="error"
        *ngIf="
          isformvalid &&
          forgotpasswordform.get('newpassword').hasError('pattern')
        "
      >
        Enter valid newpassword(one special charecter@#$%%,one capital WERVF,one
        small rtdfgfgd,one nmber12345)
      </div>
      <br />
      <label>Confirm New Password</label>
      <input
        class="form-control"
        type="password"
        formControlName="confirmnewpassword"
        [ngClass]="
          (isformvalid &&
            forgotpasswordform.get('confirmnewpassword').invalid) ||
          (forgotpasswordform.get('confirmnewpassword').touched &&
            forgotpasswordform.get('confirmnewpassword').invalid)
            ? 'red-box'
            : ''
        "
      />
      <div class="error"
        *ngIf="
          (forgotpasswordform.get('confirmnewpassword').touched &&
            forgotpasswordform.get('confirmnewpassword').invalid) ||
          (isformvalid &&
            forgotpasswordform.get('confirmnewpassword').hasError('required'))
        "
      >
      Enter valid newpassword(one special charecter@#$%%,one capital WERVF,one
      small rtdfgfgd,one nmber12345)
    </div>
    <!-- <div *ngIf="f['confirmNewPassword'].errors && f['confirmNewPassword'].errors['passwordMatch']">
      Passwords do not match
    </div> -->

      <div class="text-center">
        <button
        type="submit"
        class="btn blue-btn my-4"
        (click)="submitforgotpassword()"
      >
        Password Updated
      </button>
      </div>

    </form>
    <!-- forget passoword code -->
    <!-- <div *ngIf="formSubmitted">
      Password submitted successfully!
    </div> -->
    <p-dialog header="New password updated" [(visible)]="displayDialog" [modal]="true" [responsive]="true">
      <p>Success!</p>
      <p>Your new password has been updated.</p>
      <p>Click OK to continue to the sign-in page.</p>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onDialogOK()" label="OK"></button>
      </p-footer>
    </p-dialog>

  </div>
</div>
<app-footer></app-footer>
