<div class="container-fluid bg-ghost-white">
  <div class="space-between">
    <div>
      <a href="#" routerLink="/" class="logo eat-healthy-heading"
        ><img src="../../../assets/food.jfif" width="40px;" height="40px;" />Eat
        Healthy</a
      >
    </div>
    <div>
      <button class="btn btn-outline-primary">
        <a href="/feedback"><i class="bi bi-box-arrow-right"></i>logout</a>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid bg-ghost-white my-4 bodycontent">
  <div class="container bg-white py-3 contact-border franch">
    <div class="col-md-12 text-center">
      <form [formGroup]="loginform">
        <h3 class="">Login for your account</h3>

        <label>
          User Name:<span class="error">*</span>
          <input
            type="text"
            class="form-control"
            formControlName="userName"
            [ngClass]="
            ( isformvalid &&
             loginform.get('userName').invalid) ||

              ( loginform.get('userName').touched && loginform.get('userName').invalid)
                ? 'red-box'
                : ''
            "
          />
          <div
            class="error"
            *ngIf="
            (loginform.get('userName').touched && loginform.get('userName').invalid)||
            ( isformvalid && loginform.get('userName').hasError('required'))
            "
          >
            Enter user Name
          </div>
          <div
            class="error"
            *ngIf="
          (loginform.get('userName').touched && loginform.get('userName').invalid)||
             (isformvalid &&
             loginform.get('userName').hasError('minlength'))
            "
          >
            Enter minumun 5 letters user Name
          </div>
        </label>
        <br />
        <!-- <label>
          Last Name:<span class="error">*</span>
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            [ngClass]="
              !isformvalid &&
             loginform.get('lastName').invalid &&

               loginform.get('lastName').touched || submitted
                ? 'red-box'
                : ''
            "
          />
          <div
            class="error"
            *ngIf="
             loginform.get('lastName').touched &&
             loginform.get('lastName').hasError('required') || submitted
            "
          >
            Enter last Name
          </div>
          <div
            class="error"
            *ngIf="
             loginform.get('lastName').touched &&
              !isformvalid &&
             loginform.get('lastName').hasError('minlength')
            "
          >
            Enter minumun 5 letters last Name
          </div>
        </label>
        <br /> -->
        <!-- <label>
          phonenumber:<span class="error">*</span>
          <input
            type="text"
            class="form-control"
            formControlName="phonenumber"
            [ngClass]="
              !isformvalid &&
             loginform.get('phonenumber').invalid &&

               loginform.get('phonenumber').touched || submitted
                ? 'red-box'
                : ''
            "
          />
          <div
            class="error"
            *ngIf="
             loginform.get('phonenumber').touched &&
             loginform.get('phonenumber').hasError('required') || submitted
            "
          >
            Enter phonenumber
          </div>
          <div
            class="error"
            *ngIf="
             loginform.get('phonenumber').touched &&
              !isformvalid &&
             loginform.get('phonenumber').hasError('pattern')
            "
          >
            Enter valid phonenumber
          </div>
        </label>
        <br /> -->
        <!-- <label>
          Email<span class="error">*</span>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            [ngClass]="
              (!isformvalid &&
             loginform.get('email').invalid &&

               loginform.get('email').touched )|| submitted
                ? 'red-box'
                : ''
            "
          />
          <div
            class="error"
            *ngIf="
             loginform.get('email').touched &&
             loginform.get('email').hasError('required')
            "
          >
            Enter email
          </div>
          <div
            class="error"
            *ngIf="
             loginform.get('email').touched &&
              !isformvalid &&
             loginform.get('email').hasError('pattern')
            "
          >
            Enter valid email
          </div>
        </label> -->
        <label>
          Password:<span class="error">*</span>
          <input
            type="text"
            class="form-control"
            formControlName="password"
            [ngClass]="
              (isformvalid &&
             loginform.get('password').invalid) ||
               (loginform.get('password').touched && loginform.get('password').invalid )
                ? 'red-box'
                : ''
            "
          />
          <div
            class="error"
            *ngIf="
             (loginform.get('password').touched && loginform.get('password').invalid)
             ||(isformvalid &&
             loginform.get('password').hasError('required'))
            "
          >
            Enter password
          </div>
          <div
            class="error"
            *ngIf="
              isformvalid &&
             loginform.get('password').hasError('pattern')
            "
          >
            Enter valid password(one special charecter@#$%%,one capital WERVF,one small rtdfgfgd,one nmber12345)
          </div>
        </label>
        <br />
        <p>Not a member? &nbsp;<a href="/signin">siginup </a></p>
        <button
          type="submit"
          class="btn btn-primary mt-2"
          (click)="loginfunction()"
        >
          Submit login
        </button>
      </form>

    </div>
  </div>
</div>
