<app-header></app-header>
<div class="container min-height pt-0">
  <div class="row">
    <div class="col-4">
      <!-- <ul class="text-center">
        <li><a class="active" href="/calculator">Calculator</a></li>
        <li><a class="active" href="/calculator">Calculator</a></li>
        <li><a class="active" href="/calculator">Calculator</a></li>

      </ul> -->
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <div class="col-6">
<p>dashboard works!</p>

    <router-outlet></router-outlet>
  </div>

</div>

