tr{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
tr td, th{
  padding: 9px 11px;
}
/* Target even rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Target odd rows */
tr:nth-child(odd) {
  background-color: #ffffff;
}
